.mainContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.buttonLink {
  position: absolute;
  top: 15%;
  left: 5px;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #303f9f;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.buttonLink:hover {
  background-color: #536391;
}

.title {
  text-align: center;
  color: #303f9f;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.horaireSelect {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  animation: slideIn 2s;
  background-color: #f8f8f8;
  color: #303f9f;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease;
}

.horaireSelect:focus {
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

@keyframes slideIn {
  from {transform: translateY(-50px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}

@keyframes slideIn {
  from {transform: translateY(-50px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}